.control {
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 0px;
	padding-top: 0px;
	cursor: pointer;

	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.36px;
}
.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.control_indicator {
	position: absolute;
	top: 2px;
	left: 0;
	height: 18px;
	width: 18px;
	background: #f1f1f1;
	border: 0px solid #000000;
	border-radius: 50%;
}
.control:hover input ~ .control_indicator {
	background: #9cb1e8;
}

.control input:checked ~ .control_indicator {
	background: #5175d3;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
	background: #5175d3;
}
.control input:disabled ~ .control_indicator {
	background: #e6e6e6;
	opacity: 0.6;
	pointer-events: none;
}
.control_indicator:after {
	box-sizing: unset;
	content: '';
	position: absolute;
	display: none;
}
.control input:checked ~ .control_indicator:after {
	display: block;
}
.control-radio .control_indicator {
	border-radius: 35%;
}

.control_radio .control_indicator:after {
	left: 0px;
	top: 0px;
	height: 0px;
	width: 0px;
	border-radius: 50%;
	background: #ffffff;
	transition: background 250ms;
}
.control_radio input:disabled ~ .control_indicator:after {
	background: #7b7b7b;
}
